<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Weather Station</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="/home/css/bootstrap.min.css" />
    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="/home/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/home/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="/home/css/style.css" />

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('/home/img/background1.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!--navbar here-->
        <% include ./partials/navbar %>
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <h1 class="white-text">Amrita Weather Station</h1>
                            <p class="white-text">
                            </p>
                            <form method="get" action="/login">
                                <button class="white-btn" type="submit">LOG IN</button>
                            </form>
                            <form method="get" action="/signup">
                                <button class="main-btn">SIGN UP</button>
                            </form>
                        </div>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
    <!-- footer here-->
    <% include ./partials/footer %>
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->

    <!-- jQuery Plugins -->
    <script type="text/javascript" src="/home/js/jquery.min.js"></script>
    <script type="text/javascript" src="/home/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/home/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/home/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/home/js/main.js"></script>

</body>

</html>